RewriteEngine On

RewriteRule ^index$ home.php [L]
RewriteRule ^login$ module/user/login.php [L]
RewriteRule ^logout$ module/user/logout.php [L]
RewriteRule ^product$ module/product/product.php [L]
RewriteRule ^contact$ module/web/contact.php [L]
RewriteRule ^admin/product$ module/admin_product/product.php [L]
RewriteRule ^admin/add/product$ module/admin_product/add.php [L]
RewriteRule ^admin/edit/product$ module/admin_product/edit.php [L]
